<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template is Working</title>
</head>
<h1>Welcome To The Text Analyzer Enter Your Text</h1>
<form action='/analyze' method='get'>

    <textarea name="text" style='margin: 0px; width: 1402px; height: 64px;'>    </textarea>

    <input type="checkbox"name="removepunc"> Remove Punctuations<br><br>
    <input type="checkbox"name="fullcaps"> Uppercase<br><br>
    <input type="checkbox"name="NewLineRemover"> NewLineRemover<br><br>
    <input type="checkbox"name="Space"> Space<br><br>
    <input type="checkbox"name="counter">counter<br><br>
    
    <!-- <input type="checkbox"name="CharactorCounter"> CharactorCounter Remover<br><br> -->
    <button type="submit">Submit Krdayange</button>
</form>


<body>

</body>

</html>



























































































<!-- <h1>Tushar is the best
        {{name}} is from {{place}}
        
    </h1> -->
<!-- <h1>Tushar is the new {{name}} and {{place}}</h1> -->

<!-- ///////////////////////////// -->

<!-- <h1>
    Welcome To The Text Analyzer
    Enter Your Text Below:

</h1>
<form  action='/analyze' method='get'>
    <textarea name='text' style='margin: 0px; width: 1420px; height: 162px;'></textarea>
    Remove Punctuations <input type="checkbox" name="removepunc"> <br>
    <br>
    <button type="submit">Analyze Text</button>
</form>
     -->